<header class="site-header">
  <a href="/" class="logo">
    <img
      src="assets/images/Logo.png"
      alt="Logo Abraham Castelan"
      class="logo-image"
    />
    <span class="logo-text">Abraham Castelan Cruz</span>
  </a>
  <fa-icon [icon]="faBars"></fa-icon>
  <nav class="navigation">
    <div class="navigation-content bd-grid">
      <fa-icon [icon]="faTimes"></fa-icon>
      <div class="navigation-profile">
        <figure class="profie-avatar">
          <img src="assets/images/Logo.png" alt="Logo Abraham Castelan" />
        </figure>
        <div class="profile-data">
          <span class="profile-name">Abraham Castelan</span>
          <span class="profile-description">Front End Developer</span>
        </div>
      </div>
      <div class="navigation-menu">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a href="#" class="navigation-link">Home</a>
          </li>
          <li class="navigation-item">
            <a href="#" class="navigation-link">About</a>
          </li>
          <li class="navigation-item">
            <a href="#" class="navigation-link">Experience</a>
          </li>
          <li class="navigation-item">
            <a href="#" class="navigation-link">Portfolio</a>
          </li>
          <li class="navigation-item">
            <a href="#" class="navigation-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="navigation-info">
        <a href="#" class="btn btn-outline">Resume</a>
        <div class="navigation-social">
          <a href="" class="social-icon">
            <fa-icon [icon]="faGit"></fa-icon>
          </a>
          <a href="" class="social-icon">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="" class="social-icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
