.site-header {
  width: 100%;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.4);
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-fixed);
  padding: 0 0.5rem;
}

.logo {
  max-height: 100%;
}

.logo-image {
  display: none;
}

.logo .logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-dark);
}

.hamburger-menu {
  color: var(--primary-dark);
  position: absolute;
  right: 1.7rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--primary-dark);
    color: var(--white);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    transition: 0.4s;
  }

  .navigation-content {
    height: 100%;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
  }

  .close-menu {
    position: absolute;
    right: 1.5rem;
    font-size: 1.5rem;
    padding: 0.25rem 0.6rem;
    background-color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
  }

  .navigation-profile {
    display: flex;
    justify-content: center;
    padding: 0.3rem 1.5rem 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    flex-direction: column;
    border-bottom: 2px var(--primary) solid;
  }

  .navigation-profile .profile-avatar {
    width: 20%;
  }

  .profile-avatar img {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 100%;
  }

  .navigation-profile .profile-data {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 0.5rem;
  }

  .profile-data .profile-name {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .profile-data .profile-description {
    font-weight: 800;
    font-size: 1rem;
  }

  .navigation-menu {
    align-self: center;
  }

  .navigation-item {
    margin: 1.5rem 0;
  }

  .navigation-item .navigation-link {
    color: var(--white);
    font-weight: 300;
    font-size: 1.3rem;
  }

  .navigation-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
  }

  .resume {
    border: 4px solid var(--primary);
    color: var(--white);
    font-weight: 800;
    font-size: 1.3rem;
    border-radius: 0.4rem;
  }

  .navigation-social {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .social-icon {
    color: var(--white);
  }

  .show {
    left: 0;
  }
}

@media only screen and (min-width: 769px) {
  .hamburger-menu,
  .close-menu,
  .navigation-profile {
    display: none;
  }

  .site-header {
    padding: 0 2rem 0;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo .logo-text {
    font-size: 1.5rem;
  }

  .logo .logo-image {
    display: block;
    width: 60px;
    margin-right: 1.5rem;
  }

  .navigation .navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation .navigation-list {
    display: flex;
  }

  .navigation-list .navigation-item {
    margin-right: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #fff;
    transition: 0.3s ease-out all;
  }

  .navigation-item:last-of-type {
    margin-right: 0 !important;
  }

  .navigation-item:hover {
    border-bottom: 1px solid var(--primary) !important;
  }

  .navigation-item .navigation-link {
    font-size: 1.2rem;
    color: #000;
    font-weight: 100;
    transition: 0.3s ease-out all;
  }

  .navigation-link:hover {
    color: var(--primary) !important;
  }

  .navigation .navigation-info {
    display: flex;
    padding: 0 3rem;
    align-items: center;
  }

  .resume {
    border: 4px solid var(--primary-dark);
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    margin-right: 1rem;
    color: var(--primary-dark);
    transition: 0.3s ease-out all;
  }

  .resume:hover {
    background-color: var(--primary-light);
  }

  .navigation-social {
    display: flex;
  }

  .social-icon {
    color: var(--primary-dark);
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: 0.3s ease-out all;
  }

  .social-icon:hover {
    color: var(--primary);
  }
}
