<main class="hero">
  <section class="hero-text">
    <p class="hero-greeting">Hi, my name is</p>
    <h1>Abraham Castelan.</h1>
    <h2>I build things for the web.</h2>
    <p class="hero-description">
      I’m a computer systems engenieer based in Pachuca, Hgo specializing in
      building (and occasionally designing) exceptional websites, applications,
      and everything in betweeen.
    </p>
    <a routerLink="/contact" class="btn btn-outline">Get In Touch</a>
  </section>
  <section class="hero-image">
    <img src="./assets/images/hero.png" alt="" />
  </section>
</main>
<section class="about">
  <div class="container">
    <h2 class="title">About</h2>
    <section class="about-content">
      <section class="about-text-right">
        <p>
          Hi! I’m Abraham, a computer systems engineer based in Pachuca, Hgo.
        </p>
        <p>
          I enjoy creating things that live on the internet, whether that be
          websites, applications, or anything in between. My goal is to always
          build products that provide pixel-perfect, performant expreciences.
        </p>
      </section>
      <section class="about-image">
        <img src="./assets/images/about.png" alt="" />
      </section>
      <section class="about-text-left">
        <p>
          I’m a Front-End developer, working primarily in Angular and FIrebase,
          but I have exprecience working in a wide range of techlogies including
          Java, Node, REST API, C#, PHP, Mysql, React and React Native.
        </p>
        <p>
          Additional, I’am an UI/UX designer. I use Figma to communicate ideas
          through low and high fidelity mockups, design systems, and clickable
          protorypes.
        </p>
        <a routerLink="/about" id class="btn btn-outline">See More</a>
      </section>
    </section>
  </div>
</section>
