/* Adding Fonts (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~normalize.css";

/* Defining variables */
:root {
  --mono: "JetBrains Mono", monospace;

  /* Colors */
  --primary-dark: #477eff;
  --primary: #99b8ff;
  --primary-light: #c1d3fe;
  --black: #000000;
  --white: #ffffff;

  /* z index */
  --z-fixed: 100;
}

/* Global Styles */

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 0.7rem;
  text-align: center;
}

.btn-outline {
  border: 4px solid var(--primary-dark);
  color: var(--primary);
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 0.3s ease-out all;
}

.btn-outline:hover {
  background-color: var(--primary-dark);
  color: var(--white);
}

.title {
  font-size: 2.5rem;
  color: var(--white);
}
